/* Reset some default styles for consistency */
body,
h1,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* Apply some basic styles to the app container */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Ensure the background covers the entire viewport */
  height: 100%;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://th.bing.com/th/id/OIG4.RdxDOgVpwkACcHXpx8lo?w=173&h=173&c=6&r=0&o=5&dpr=1.3&pid=ImgGn');
  background-repeat: repeat; /* Ensure the image is repeated */
  background-position: center center;
  filter: blur(2px); /* Adjust the blur level as needed */
  z-index: -1;
}

.App {
  min-height: 100vh; /* Ensure it covers the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: flex-start; /* Align items to the top */
  overflow: auto;
  padding: 20px;
}

.navbar_custom .navbar-brand {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  color: #333;
}

/* Style the input for adding tasks */
input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
  width: 300px; /* Ensure a consistent width */
}

/* Style the button for adding tasks */
button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px; /* Add some spacing to the left */
}

button:hover {
  background-color: #0056b3;
}

/* Style the individual task items */
.task {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

/* Add styles for completed tasks */
.task.completed {
  background-color: #e6e6e6;
  text-decoration: line-through;
}

.task input[type="checkbox"] {
  margin-right: 8px;
}

/* Style the Remove button */
.task button {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  margin-left: 8px;
}

.task button:hover {
  background-color: #cc0000;
}

.navbar_custom {
  background-color: rgb(105, 236, 105);
}

.text {
  font-weight: 200;
  color: rgb(105, 236, 105);
}

.input {
  background-color: rgb(105, 236, 105);
  color: black;
  font-weight: 200;
}

.card {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.margin {
  margin-top: 15px;
}

.margin1 {
  margin-top: 80px;
}
